.ScanDevice {
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  text-align: center;
  margin: 0px;
  width: 100%;
}

.ScanDevice-table {
  width:100%;
  margin: 0 auto;
  border-collapse: collapse;
}

.ScanDevice-table th,
.ScanDevice-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.ScanDevice-table th {
  background-color: #007BFF;
  color: white;
  font-size: 18px;
}

.ScanDevice-table tr:nth-child(even) {
  background-color: #f2f2f2;
}

.ScanDevice-table tr:hover {
  background-color: #ddd;
}